:root {
  --fontPrimary: "Kanit", sans-serif;
  --fontSecundary: "Roboto Mono", monospace;
}

.message {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  padding: 2px 3px;
  border-radius: 5px;
}

.message__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.message__content ol {
  list-style: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

.message__icon {
  color: rgb(1, 171, 1);
  font-weight: bold;
  font-size: 20px;
}

.message__content ol li {
  font-family: var(--fontSecundary);
}

.login__message {
  align-self: center;
}


.success{
  color: rgb(1, 171, 1);
}

.failed{
  color: rgb(255, 56, 56);
}
