:root {
    --fontPrimary: 'Kanit', sans-serif;
    --fontSecundary: 'Roboto Mono', monospace;
}

.newCita {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: #030303d6;
    z-index: 2;
}

.inactive {
    display: none;
}

.newCita__icon {
    color: black;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.newCita__content {
    height: auto;
    width: min(90%, 1000px);
    margin: 0 auto;
    border-radius: 10px;
}

.newCita__form {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: wheat;
}

.newCita__date {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.newCita__data {
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
}

.newCita__msgError{
    font-family: var(--fontSecundary);
    color: rgb(235, 79, 79);
    font-weight: bold;
    letter-spacing: 1px;
}

.newCita__data--time,
.newCita__data--day {
    width: 350px;
}

.newCita__data label {
    width: 200px;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--fontSecundary);
    text-align: right;
}

.newCita__data--time label,
.newCita__data--day label {
    font-size: 13px;
}

.newCita__data input,
textarea,
.dropdown {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    font-family: var(--fontPrimary);
    font-size: 1rem;
}

/* fecha */
.dropdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: max-content;
    position: relative;
    background-color: #f5deb395;
    font-family: var(--fontSecundary);
    font-weight: 700;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: alternate viewFechas .7s ease-in-out;
}

.dropdown-content label {
    width: max-content;
    color: white;
    white-space: nowrap;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content label:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

@keyframes viewFechas {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 720px) {
    .newCita__data {
        flex-direction: column;
        text-align: center;
    }

    .newCita__data label {
        text-align: center;
        width: 100%;
    }
}