:root {
  --fontPrimary: "Kanit", sans-serif;
  --fontSecundary: "Roboto Mono", monospace;
}

.cita {
  border-radius: 5px;
  padding: 10px;
  background-color: #4d8076;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.citas__data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cita__img {
  width: 200px;
  height: 200px;
  background-color: rgb(248 87 87);
  border-radius: 10px;
}

.cita__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cita__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}

.cita__time {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 200px;
  justify-content: space-between;
}

.cita__tittle {
  color: black;
  font-family: var(--fontPrimary);
}

.cita__info {
  color: rgb(255, 255, 255);
  font-family: var(--fontPrimary);
  letter-spacing: 1px;
}

.citas__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.citas__opcion {
  color: rgb(247, 247, 247);
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  padding: 10px;
  min-width: 140px;
  font-family: var(--fontSecundary);
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.citas__opcion--cancel {
  background-color: rgb(255, 63, 63);
}

.citas__opcion--confirm{
    background-color: rgb(63, 188, 63);
}
/* 
.citas__opcion--update{
    background-color: #9084f7;
} */


@media (max-width: 550px) {
  .cita {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .citas__options {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
